selenium>=4.0.0
webdriver-manager>=3.8.0
cryptography
mistralai
streamlit
docling
boto3
streamlit
requests
matplotlib
pandas
numpy
tiktoken
chromadb
docling_core
snowflake-connector-python>=2.7.0
python-dotenv>=0.19.0
mcp>=1.0.0
cryptography>=36.0.0